button {
  @include reset-border-outline;
  @include shadowed(10px, 0.25);
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  background: linear-gradient(-5deg, $purple, $pink 90%);
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 50vh;
}
