button {
  @include reset-border-outline;
  font-size: 0.9rem;
  color: white;
  background: linear-gradient(-5deg, $purple, $pink 90%);
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 50vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
