.dish-container {
  opacity: 0;
  transform: translateY(20px);
  animation: smooth-display 1s ease-in forwards;
}

@keyframes smooth-display {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
