.dish-container {
  @include flexed;
  background: white;
  margin: 0.8rem 0;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  .dish {
    @include y-centered-x-space-between;
    flex: 1;
    padding: 0.8rem 1.5rem 0.8rem 0.8rem;
    width: calc(100% - 75px); //* 75px : .choosen-dish width
    h4 {
      @include text-elipsis;
      font-size: 1.2rem;
      height: 23px;
    }
    p {
      margin-top: 0.3rem;
    }
    .description {
      width: calc(100% - 2 * 1.5rem); //* 1.5rem : padding around .price
      p {
        @include text-elipsis;
        width: 100%;
      }
    }
    .price {
      @include flexed;
      align-self: stretch;
      align-items: flex-end;
      font-weight: bold;
      padding-left: 1.5rem;
    }
  }
  .chosen-dish {
    @include x-y-centered;
    background: $seagreen;
    i {
      font-size: 1.5rem;
      color: white;
    }
  }
}
