.dish-container {
  @include tablet-and-above {
    width: 100%;
  }
  @include flexed;
  @include shadowed(10px, 0.1);
  background: white;
  margin: 0.8rem 0;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  .dish {
    @include y-centered-x-space-between;
    flex-grow: 1;
    padding: 0.8rem;
    padding-right: 1.5rem;
    width: 100%;
    .description {
      width: calc(100% - (2 * 1.5rem)); //* 1.5rem : padding around .price
      h4 {
        @include text-elipsis;
        font-size: 1.2rem;
      }
      p {
        @include text-elipsis;
        margin-top: 0.3rem;
      }
    }
    .price {
      @include flexed;
      align-self: stretch;
      align-items: flex-end;
      font-weight: bold;
      padding-left: 1.5rem;
    }
  }
  .chosen-dish {
    @include x-y-centered;
    background: $seagreen;
    width: 0px;
    i {
      font-size: 1.5rem;
      color: white;
    }
  }
}
