.dish-container {
  opacity: 0;
  transform: translateY(20px);
  animation: smooth-display 1s ease-in forwards;
}

.dish-1 {
  animation-delay: 2.5s;
}
.dish-2 {
  animation-delay: 2.65s;
}
.dish-3 {
  animation-delay: 2.8s;
}
.dish-4 {
  animation-delay: 2.95s;
}
.dish-5 {
  animation-delay: 3.1s;
}
.dish-6 {
  animation-delay: 3.25s;
}
.dish-7 {
  animation-delay: 3.4s;
}
.dish-8 {
  animation-delay: 3.55s;
}
.dish-9 {
  animation-delay: 3.7s;
}
.dish-10 {
  animation-delay: 3.85s;
}

@keyframes smooth-display {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
