footer {
  color: white;
  background: #353535;
  padding: 1.3rem 1.3rem 2rem;

  h4 {
    font-family: $logo-title;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
  }

  ul {
    list-style: none;
    padding: 1.3rem 0 0;

    i {
      display: inline-block;
    }
  }
}
