body > header {
  height: 70px;
  width: 100%;
  padding-top: 0.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  @include x-y-centered;

  h1 {
    font-family: $logo-title;
  }

  a {
    position: absolute;
    left: 35px;
  }
}
