#instructions {
  @include desktop {
    grid-row: 2 / 3;
  }
  @include tablet-and-above {
    background: $lighterGrey;
  }
  main {
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
    & > div {
      @include desktop {
        margin-right: 0.8rem;
      }
      @include tablet-and-above {
        background: white;
      }
      @include y-centered;
      @include shadowed(10px, 0.15);
      position: relative;
      background: $lighterGrey;
      margin: 1.5rem (1.5rem / 2);
      margin-right: 0;
      padding: 1.7rem 2.3rem;
      border-radius: $pxRadius;
      .icon {
        width: 3rem;
        i {
          font-size: 1.2rem;
          color: $grey;
        }
      }
      & p:last-child {
        font-weight: 600;
      }
    }
  }

  #purple-box {
    background: #f5edff !important;
    i {
      color: $purple !important;
    }
  }

  .index-nb {
    @include x-y-centered;
    position: absolute;
    left: -0.75rem;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
    background: $purple;
    border-radius: 50%;
  }
}
