#location-and-explorer {
  padding: 0;
  text-align: center;
  #location {
    @include x-y-centered;
    @include tablet-only {
      border-bottom-right-radius: 30px;
    }
    background: $lightGrey;
    padding: 1rem 0;
    input {
      @include reset-border-outline;
      min-width: 50px;
      background: none;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.3rem 0 0 0;
    }
  }
  #explorer {
    @include desktop {
      height: 100%;
    }
    @include tablet-only {
      height: 88%;
    }
    @include x-y-centered;
    flex-direction: column;
    padding: 3rem;
    p {
      margin: 1rem 0 2rem;
    }
  }
}
