@mixin flexed {
  display: flex;
}

@mixin y-centered {
  @include flexed;
  align-items: center;
}

@mixin x-y-centered {
  @include y-centered;
  justify-content: center;
}

@mixin x-space-between {
  @include flexed;
  justify-content: space-between;
}

@mixin y-centered-x-space-between {
  @include x-space-between;
  align-items: center;
}

@mixin reset-border-outline {
  border: none;
  outline: none;
}

@mixin hidden-overflow {
  overflow: hidden;
}

@mixin w100p {
  width: 100%;
}
