@import "dish_containers";
@import "transitions";
@import "dish_smooth_display";

#background-img {
  @include x-y-centered;
  height: 300px;
  width: 100%;
  overflow: hidden;
  img {
    height: 110%;
    width: 110%;
    object-fit: cover;
  }
}

#restaurant-article {
  background: $lighterGrey;
  position: relative;
  top: -3.5rem;
  border-radius: 40px 40px 0 0;
  margin-bottom: -3.5rem;
  section {
    padding-bottom: 0.2rem;
  }
  button {
    padding-left: 3rem;
    padding-right: 3rem;
    display: block;
    margin: 2rem auto;
  }
}

// header
#restaurant-article header {
  @include x-space-between;
  font-family: $logo-title;
  font-size: 1.3rem;
  margin-top: -0.8rem;
  // hearts ------------------------------
  i {
    padding-top: 0.5rem;
    font-size: 1.8rem;
    margin-right: 1.5rem;
  }
  .full {
    font-size: 1.925rem;
  }
  // hearts ------------------------------
}

// titles
.section-title {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    background: $seagreen;
    margin-top: 0.3rem;
  }
}
