// mouse over buttons
button {
  transition: all 0.5s;
  &:hover {
    opacity: 0.8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  }
}

// choosing a dish
.dish-container {
  & .dish,
  & .chosen-dish,
  & i {
    transition: all 0.5s;
  }
  &:hover {
    & .dish {
      width: calc(100% - 75px);
    }
    & .chosen-dish {
      width: 75px;
    }
    & i {
      transform: rotate(360deg);
    }
  }
}

// add to favorites
.heart {
  @include x-y-centered;
  .empty {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    transition: all 0.25s 0.25s ease-out;
  }
  .full {
    background: linear-gradient(-5deg, $pink, $purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: all 0.5s ease-in;
  }
  &:hover {
    & .full {
      opacity: 1;
    }
    & .empty {
      opacity: 0;
    }
  }
}
