@import "variables";
@import "mixins";
@import "header";
@import "location_and_explorer";
@import "instructions";
@import "restaurants-list";
@import "footer";
@import "restaurants";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $text;
}

main > :nth-child(2n + 1) {
  background: $lighterGrey;
}

article {
  padding: 3rem 1.3rem;
}

section {
  @include w100p;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}
